<%- include("partials/header"); -%>
    <div class="dev">
        <h1>About the Developer</h1>
        <!-- <p> <%= aboutContent %> </p> -->
           
      <div class="card mycard" style="width: 20rem;">
       
         <img class="card-img-top pic" src="C:\Users\HP\OneDrive\Desktop\Web-Dev_Project\Blog-With-Database-final\public\images\Photos\pic.jpg" width="200" height="200" alt="Card image cap">
         <div class="card-body">
             <h5 class="card-title">Balveer Kumar</h5>
             <p class="card-text">A engineering student, trying to be a geek as much as I can</p>
             <a href="https://www.linkedin.com/in/balveer-k-9026161a3/" class="btn btn-primary">Go Linked in</a>
             <a href="https://github.com/balveerkumar8299" class="btn btn-dark">Go Github</a>
         </div>
    
       </div>

    </div>
<%- include("partials/footer"); -%>
