html {
  min-height: 100%;
  position: relative;
} 

.intro {
  text-align: center;
  font-family: 'raleway', sans-serif;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

#mybtn input{
  padding-top: 70px;
  padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
} 
.navbar-nav  li a:hover {
    color: #1abc9c !important;
} 


.footer a {
  color: #cd3f3e !important;
}

.footer a:hover {
  color: #ff9c91 !important;
}

 .footer-padding {
	padding-bottom: 60px;
} 

.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #1abc9c;
}

 .footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}


.dev{
  margin-top: 10%;
  text-align: center;

}
.mycard{
  margin-left: auto;
  margin-right: auto;
  padding: 10px 10px 10px 10px;
}
.pic{
  
  width: 100%;
  border-radius: 200px;
  margin: auto auto auto auto;
}